@import './src/App.scss';

// Estimates Page
.estimates-page {
    display: grid;
    grid-template-areas: 
        "header-image header-image"
        "intro-estimates intro-estimates"
        "domestic-estimates domestic-list"
        "commercial-estimates commercial-list"
        "testing-estimate testing-list"
        "total-price-form total-price-form";
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;

    .header-image {
        grid-area: header-image;
        @extend .header-image;
    }


    .estimates-form {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
    }

    
    .intro-estimates {
        grid-area: intro-estimates;
    }

    .domestic-estimates {
        grid-area: domestic-estimates;
    }

    .domestic-list {
        grid-area: domestic-list;
    }

    .commercial-estimates {
        grid-area: commercial-estimates;
    }

    .commercial-list {
        grid-area: commercial-list;
    }

    .testing-estimate {
        grid-area: testing-estimate;
    }

    .testing-list {
        grid-area: testing-list;
    }

    .total-price-form {
        grid-area: total-price-form;
        
    }

    


    .intro-estimates, .domestic-estimates, .commercial-estimates, .testing-estimate, .domestic-list, .commercial-list, .testing-list, .total-price-form {
        background-color: $background-color;
        border: 3px solid $primary-color;
        border-radius: 12px;
        margin: 60px;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center; 
        flex: 1; 
        padding: 20px;
    }
}