@import '../App.scss';

 .estimates-form-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;

            label {
                margin-bottom: 5px;
                text-align: left;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
                transition: all 0.3s ease;
            }

            textarea {
                height: 40px;
                resize: none;

                &:focus {
                    height: 100px;
                    resize: vertical;
                }
            }
        }

        .btn {
            align-self: flex-end;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: $primary-color;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    @media (max-width: 768px) {
        .estimates-form {
            padding: 16px;
            margin: 16px auto;
        }
    
        .btn {
            width: 100%; // Make the button full width on tablet screens
            text-align: center;
        }
    }
    
    @media (max-width: 480px) {
        .estimates-form {
            padding: 10px;
            margin: 10px auto;
        }
    
        .btn {
            width: 100%; // Make the button full width on mobile screens
            text-align: center;
        }
    }