@import './src/App.scss';

.Footer {
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;

    p {
        margin: 0;
        padding: 0 10px;
    }
    
    a {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 16px;
    }

    p {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px;
    }

    p {
        padding: 0 6px;
    }
}