@import './src/App.scss';

// Index Page Items
.home {
    display: grid;
    grid-template-areas: 
        "header-image header-image"
        "about-us our-services"
        "estimates contact";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;

    .header-image {
        grid-area: header-image;
        @extend .header-image;
    }

    .about-us {
        grid-area: about-us;
    }

    .our-services {
        grid-area: our-services;
    }

    .contact {
        grid-area: contact;

        li a {
            color: $primary-color;
            text-decoration: none; 

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .estimates {
        grid-area: estimates;
    }

    .about-us, .our-services, .contact, .estimates {
        background-color: $background-color;
        border: 3px solid $primary-color;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 20px;
        margin: 60px;
    }
}