@import './src/App.scss';

.navbar {
    background-color: $primary-color;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;


    .navbar-logo{
        text-decoration: none;
        color: white;
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: bold;

        a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;

        &:hover {
            background-color: #111;
            border-radius: 12px;
        }
    }
    }

        .navbar-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex; 
            justify-content: flex-end; 

            li {
                margin-left: 10px; 

                a {
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px;
                    text-decoration: none;

                    &:hover {
                        background-color: #111;
                        border-radius: 12px;
                    }
                }
            }
        }
    }

    /* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;

        li {
            margin: 10px 0;
        }
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .navbar-logo {
        font-size: 24px;
        padding: 10px;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;

        li {
            margin: 10px 0;
        }
    }
}

