@import './src/App.scss';

// Services Page 
.services-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin: 40px;
    transition: width 0.5s ease;

    .service-item {
        background-color: $background-color;
        border: 3px solid $primary-color;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .service-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        img {
            width: 300px;
            height: 300px;
            border-radius: 12px;
            object-fit: cover;
        }
    }
}


@media (max-width: 768px) {
    .services-page {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image1"
            "item1"
            "image2"
            "item2"
            "image3"
            "item3"
            "image4"
            "item4";
    }


    .service-item, .service-image {
        margin: 10px;
    }

    .service-image:nth-child(1) {
        grid-area: image1;
    }

    .service-item:nth-child(2) {
        grid-area: item1;
    }

    .service-image:nth-child(4) {
        grid-area: image2;
    }

    .service-item:nth-child(3) {
        grid-area: item2;
    }

    .service-image:nth-child(6) {
        grid-area: image3;
    }

    .service-item:nth-child(5) {
        grid-area: item3;
    }

    .service-image:nth-child(8) {
        grid-area: image4;
    }

    .service-item:nth-child(7) {
        grid-area: item4;
    }
}

.header-image {
    @extend .header-image;

    img {
        object-position: 0% 78%;
    }
   }
